<%= semantic_form_for @store do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>

<h3>Books/h3>
    <div id='books'>
    <%= f.semantic_fields_for :books do |book| %>
      <%= render 'book_fields', :f => book %>
    <% end %>
          <div class='links'>
      <%= link_to_add_association 'add book', f, :books %>
      </div>

  <% end %>
<%= f.actions :submit %>
<% end %>